<div class="detail-img">
  <img src="/static/img/kandidati/big/Lestina.jpg"/>
</div>
<h1 class="main-header">
Dan Leština
</h1>

<p>Dan Leština pracuje v&nbsp;Entomologickém ústavu Akademie věd a&nbsp;věnuje se doktorskému studiu. Je místopředseda pirátského místního sdružení Českobudějovicka. Vystudoval obor Ekologie živočichů na Jihočeské univerzitě. Při výzkumu na Borneu měl možnost z&nbsp;první ruky sledovat jak katastrofu, kterou plantáže přináší tamní přírodě, tak rozvoj a&nbsp;bohatství, které přináší tamním lidem. V&nbsp;Evropském parlamentu by se věnoval ochraně krajiny a&nbsp;ohrožených druhů a&nbsp;související zemědělské politice. </p>

