<div class="detail-img">
  <img src="/static/img/kandidati/big/Wagner.jpg"/>
</div>
<h1 class="main-header">
David František Wagner
</h1>

<p>David František Wagner je pedagog, poslanecký asistent, didaktik, zakladatel a&nbsp;koordinátor kampaně Zachranmeinternet.cz. Vystudoval Pedagogickou fakultu Univerzity Karlovy s&nbsp;kombinací Historie - Základy společenských věd. V&nbsp;současnosti dokončuje doktorské studium. Věnuje se také přípravě učitelů a&nbsp;tvorbě vzdělávacích materiálů a&nbsp;workshopů zaměřených na dějiny 20. století, kritické myšlení a&nbsp;občanskou společnost. Založil spolek pro rozvoj zážitkových vzdělávacích her Rolling, kde nyní dělá ředitele a&nbsp;je autorem mnoha larpů. </p>
