<div class="detail-img">
  <img src="/static/img/kandidati/big/13_Wagner.jpg"/>
</div>
<h1 class="main-header">
David František Wagner
</h1>

<p>David Wagner vystudoval Pedagogickou fakultu Univerzity Karlovy s&nbsp;kombinací Historie - Základy společenských věd. Na stejné fakultě v&nbsp;současnosti dokončuje doktorské studium se zaměřením na malé křesťanské církve v&nbsp;období 1948-1989. Věnuje se také přípravě učitelů a&nbsp;tvorbě vzdělávacích materiálů a&nbsp;workshopů zaměřených na dějiny 20. století, kritické myšlení a&nbsp;občanskou společnost.</p>

<p>Založil spolek pro rozvoj zážitkových vzdělávacích her Rolling, kde nyní dělá ředitele a&nbsp;je autorem mnoha larpů. U&nbsp;Pirátů působí od října 2017, v&nbsp;současnosti jako poradce pirátských poslanců a&nbsp;v MS Litoměřicko.</p>

