<div class="detail-img">
  <img src="/static/img/kandidati/big/Ticha.jpg"/>
</div>
<h1 class="main-header">
    Eva Tichá
</h1>

<p>Eva Tichá je ekonomka a manažerka. Dříve působila jako reportérka nebo mluvčí Úřadu vlády ČR a Ministerstva kultury ČR. Vystudovala VŠE a díky zahraničním stážím mluví plynule francouzsky a anglicky. Je dlouhodobě aktivní v Českém zemědělském svazu, na Praze 6 založila iniciativu Praha 6 neplastuje a angažuje se ve spolku pečujícím o kulturní dědictví Úštěcka. Bojovala proti korupci v Českém rozhlase a v České filharmonii. Spolupracovala s Januszem Koniecznym a na základě předložených dokumentů o podivném hospodaření podal Nadační fond proti korupci trestní oznámení proti České filharmonii. Je zastupitelkou na Praze 6. V Evropském parlamentu by se ráda zabývala otázkami spojenými se zemědělstvím.</p>

