<div class="detail-img">
  <img src="/static/img/kandidati/big/Kopriva.jpg"/>
</div>
<h1 class="main-header">
František Kopřiva
</h1>

<p>František Kopřiva je student a&nbsp;pirátský poslanec. Od vstupu do poslaneckých lavic se věnuje hlavně unijní agendě. Během svého působení ve Sněmovně se vyprofiloval jako obhájce lidských práv a&nbsp;rovnosti mužů a&nbsp;žen. Je spoluautorem legislativního návrhu, který zavádí manželství pro stejnopohlavní páry. Jeho působení v&nbsp;Evropském parlamentu bude navazovat na činnosti, kterým se věnuje aktuálně.</p>
