<div class="detail-img">
  <img src="/static/img/kandidati/big/Melichar.jpg"/>
</div>
<h1 class="main-header">
Hynek Melichar
</h1>


<p>Hynek Melichar je pirátský zastupitel v&nbsp;Olomouci. Vystudoval politologii na Univerzitě Palackého, kde také vyučuje mezinárodní vztahy a&nbsp;bezpečnost. Mezinárodní politice a&nbsp;bezpečnosti se odborně věnuje téměř deset let, má široký přehled v&nbsp;oblasti teroris­mu nebo politického násilí. Problematiku terorismu příležitostně komentuje na kanále ČT24 i&nbsp;v dalších médiích. V&nbsp;Evropském parlamentu se chce věnovat mezinárodně-bezpečnostním otázkám s&nbsp;důrazem na boj proti terorismu.</p>
