<div class="detail-img">
  <img src="/static/img/kandidati/big/Licka.jpg"/>
</div>
<h1 class="main-header">
Jan Lička
</h1>

<p>Jan Lička je od roku 2017 koordinátorem krajského expertního týmu v&nbsp;oblasti dopravy pro Středočeský kraj a&nbsp;zástupce garanta dopravy. Vystudoval Mezinárodní obchod a&nbsp;logistiku na VŠE v&nbsp;Praze, absolvoval také zahraniční stáž v&nbsp;automobilovém průmyslu. Je členem Dozorčí rady Technické správy komunikací hl. m. Prahy. Pracuje jako manažer a&nbsp;poradce logistiky průmyslové výroby a&nbsp;skladování. Vzhledem ke svým zkušenostem by se v&nbsp;Evropském parlamentu zabýval (elektro)mobilitou nebo dopravní infrastrukturou.</p>
