<h1 class="main-header">
    Jana Koláříková
</h1>

<div class="detail-img big2">
  <img src="/static/img/kandidati/big2/Jana.jpg"/>
</div>
<!--
vedoucí personálního odboru Pirátů
věnovala se rozvojové vzdělávací práci v&nbsp;Malawi
pracovala pro nevládní protidrogovou organizaci 
-->

<p>Jana Koláříková vystudovala střední pedagogickou školu a&nbsp;poté studovala a&nbsp;pracovala ve Velké Británii, pro neziskovou organizaci jako personalistka. V&nbsp;africkém Malawi se dobrovolnicky pomáhala rozvíjet vzdělávání a&nbsp;vedla kurzy pro učitele a&nbsp;knihovníky. V&nbsp;Malawi dodnes používají její vzdělávací materiál o&nbsp;rozvoji jazyka a&nbsp;gramotnosti. Dodnes na místě funguje také mateřská škola postavená z&nbsp;prostředků, které se jí podařilo získat v&nbsp;charitativní kampani.</p>

<p>Po návratu do Česka působila v&nbsp;kontaktním centru nabízejícím oporu pro drogově závislé. Od roku 2013 je členkou Pirátské strany, kde zastávala pozice krajské místopředsedkyně, krajské koordinátorky a&nbsp;vedoucí Personálního odboru, kterou je dosud. V&nbsp;europarlamentu se chce zabývat tématy, která zná z&nbsp;vlastní praxe – waste managementem, kvalitou potravin, vzděláváním, zdravotní péčí a&nbsp;lidskými právy. Jana má vynikající schopnost budovat kvalitní týmy. Je vdaná a&nbsp;vychovává tři děti.</p>


<h3>Sleduj kandidáta online ...</h3>

<ul class="social-networks row">
<li><a href="https://www.facebook.com/piratkakolarikova/" rel="noopener" target="_blank"><span class="social-icon"><svg width="8" height="16" viewBox="0 0 8 16" xmlns="http://www.w3.org/2000/svg" data-v-21fcefc8=""><title data-v-21fcefc8="">Facebook</title> <path d="M1.61 3.092v2.199H0v2.688h1.61v7.988h3.31V7.979h2.22s.207-1.289.308-2.698H4.932V3.443c0-.275.36-.644.717-.644H7.45V0h-2.45C1.529 0 1.61 2.69 1.61 3.092z" fill="#000" fill-rule="nonzero" data-v-21fcefc8=""></path></svg>
    </span>Facebook</a>
<li><a href="https://twitter.com/PiratkaJanaK" rel="noopener" target="_blank"><span class="social-icon"><svg width="19" height="15" viewBox="0 0 19 15" xmlns="http://www.w3.org/2000/svg" data-v-21fcefc8=""><title data-v-21fcefc8="">Twitter</title> <path d="M18.434 1.772c-.679.3-1.407.504-2.172.595a3.797 3.797 0 0 0 1.663-2.09 7.623 7.623 0 0 1-2.403.918 3.782 3.782 0 0 0-6.444 3.448A10.736 10.736 0 0 1 1.284.69a3.753 3.753 0 0 0-.511 1.9A3.78 3.78 0 0 0 2.455 5.74a3.782 3.782 0 0 1-1.713-.475v.047A3.785 3.785 0 0 0 3.775 9.02a3.83 3.83 0 0 1-.997.133 3.63 3.63 0 0 1-.712-.07 3.783 3.783 0 0 0 3.532 2.626 7.587 7.587 0 0 1-4.696 1.616c-.305 0-.606-.018-.902-.052a10.689 10.689 0 0 0 5.796 1.701c6.957 0 10.759-5.761 10.759-10.758l-.013-.49a7.551 7.551 0 0 0 1.892-1.953z" fill="#000" fill-rule="nonzero" data-v-21fcefc8=""></path></svg>
    </span>Twitter</a>
</ul>
