<div class="detail-img">
  <img src="/static/img/kandidati/big/Hoskovec.jpg"/>
</div>
<h1 class="main-header">
  Jiří Hoskovec
</h1>

<p>
Jiří Hoskovec pracuje jako forenzní specialista a&nbsp;datový analytik finančních zločinů. Vyšetřoval finanční zločiny od Belgie po Pákistán. Kromě toho je pirátským zastupitelem MČ Praha 6. Vystudoval Fakultu jadernou a&nbsp;fy­zikálně inženýrskou na ČVUT. V&nbsp;minulosti působil jako jaderný výzkumník ve Spojených státech. Chce bojovat za to, aby s&nbsp;unijním bohatstvím bylo zacházeno ku prospěchu všech členských států. 
</p>
