<div class="detail-img">
  <img src="/static/img/kandidati/big/Lehejcek.jpg"/>
</div>
<h1 class="main-header">
Jiří Lehejček
</h1>

<p>Jiří Lehejček vystudoval obory Fyzická geografie a&nbsp;geoekologie na Univerzitě Karlově a&nbsp;současně Forestry, Water and Landsca­pe Management na České zemědělské univerzitě, kde následně absolvoval doktorské studium s&nbsp;tématem Dendrochronologie arktické tundry. V&nbsp;rámci studia absolvoval několik zahraničních stáží (Kanada, Island, Švýcarsko) a&nbsp;pětkrát se účastnil expedic do Arktidy, z&nbsp;čehož dvě vedl. V&nbsp;současnosti zastává volenou funkci viceprezidenta IFOAM EU, působí na Univerzitě Tomáše Bati ve Zlíně, je členem představenstva TP Organics a&nbsp;jednatelem společnosti Envipor. Napsal několik odborných publikací a&nbsp;svůj volný čas tráví s&nbsp;rodinou, cestováním a&nbsp;sportem. Vzhledem ke svým zkušenostem a&nbsp;od­bornosti by se v&nbsp;případě zvolení do Evropského parlamentu chtěl zabývat problematikou klimatické změny, především pak správným nastavením Společné zemědělské politiky EU.</p>
 



