<div class="detail-img">
  <img src="/static/img/kandidati/big/Koubek.jpg"/>
</div>
<h1 class="main-header">
Ladislav Koubek
</h1>


<p>Ladislav Koubek působil 12 let jako expert na rozvojovou spolupráci a&nbsp;humanitární pomoc například v&nbsp;OSN nebo v&nbsp;české státní správě. Nyní je členem předsednictva Pirate Parties International a&nbsp;zastupitelem MČ Praha 10. Vychovává tři děti, které jsou hlavním důvodem, proč se angažuje na zlepšování životních podmínek v&nbsp;České republice. V&nbsp;Evropském parlamentu se chce zasadit o&nbsp;nastartování udržitelného rozvoje chudých regionů, což je podle něho investice do budoucnosti všech evropských občanů.</p>
