<div class="detail-img">
  <img src="/static/img/kandidati/big/Matuskova.jpg"/>
</div>
<h1 class="main-header">
Linda Matušková
</h1>

<p>Linda Matušková je fotografka a&nbsp;podnikatelka. V&nbsp;minulosti působila jako pedagožka, momentálně je členkou místního sdružení Piráti Kroměříž. Vystudovala doktorský program Pedagogika na Univerzitě Palackého. Věnovala se vysokoškolské výuce i&nbsp;vý­zkumu či grantové a&nbsp;projektové činnosti na mezinárodní úrovni. Má dvě děti, a&nbsp;i proto se zabývá problematikou sociálně-právní ochrany dětí nebo náhradní rodinné péče. Na evropské úrovní se chce věnovat oblasti rodinné politiky.</p>
