<div class="detail-img">
  <img src="/static/img/kandidati/big/Cervinka.jpg"/>
</div>
<h1 class="main-header">
Lukáš Lev Červinka
</h1>

<p>
Lukáš Lev Červinka je ústavní právník. Rovněž je členem kontrolního výboru zastupitelstva města v&nbsp;Jablonci nad Nisou. Práva vystudoval na Karlově Univerzitě. V&nbsp;minulém roce aktivně hájil právo občanů na informace o&nbsp;hospodaření jednotlivých poslaneckých klubů. Věnuje se i&nbsp;mezinárodně-bezpečnostním tématům. Evropská unie by podle něj měla být především srozumitelná pro občany.
</p>


