<h1 class="main-header">
    Lukáš Blažej
</h1>
<div class="detail-img big2">
  <img src="/static/img/kandidati/big2/Blazej.jpg"/>
</div>
<!--
získal Cenu za odvahu Nadačního fondu proti korupci za rozkrytí řady kauz města Ústí nad Labem 
opakovaně zastupoval české environmentální neziskové organizace při jednání na evropské úrovni
založil spolek Ústecké šrouby, který podporuje ochranu přírody a&nbsp;krajiny

-->

<p>Lukáš Blažej je Ústecký komunální politik a&nbsp;aktivista. Specializuje se na právo životního prostředí, o&nbsp;kterém publikuje a&nbsp;přednáší. Je zakladatelem spolku Ústecké šrouby, který se věnuje ochraně přírody a&nbsp;krajiny v&nbsp;Ústí nad Labem. V&nbsp;Ústí nad Labem odhalil řadu případů nepoctivého nebo netransparentního jednání města. Za tyto úspěchy získal Cenu za odvahu Nadačního fondu proti korupci.</p>

<p>V minulosti opakovaně zastupoval české environmentální neziskové organizace při jednání na evropské úrovni. Během uprchlické krize organizoval humanitární výjezd do Horgoše a&nbsp;na hraniční přechod Berkasovo-Bapske. Absolvoval šestitýdenní stáž u&nbsp;místopředsedy ENVI výboru Evropského parlamentu, ve kterém v&nbsp;případě zvolení hodlá působit. Podle týdeníku Euro je jednou z&nbsp;nejvidi­telnějších tváří Pirátů v&nbsp;regionech. Kromě environmentálních témat považuje za svoji prioritu rozšíření povědomí o&nbsp;skutečné práci Evropské unie. V&nbsp;současnosti pracuje jako asistent v&nbsp;advokátní kanceláři.</p>


<h3>Sleduj kandidáta online ...</h3>

<ul class="social-networks row">
<li><a href="https://www.facebook.com/blazej.lukas" rel="noopener" target="_blank"><span class="social-icon"><svg width="8" height="16" viewBox="0 0 8 16" xmlns="http://www.w3.org/2000/svg" data-v-21fcefc8=""><title data-v-21fcefc8="">Facebook</title> <path d="M1.61 3.092v2.199H0v2.688h1.61v7.988h3.31V7.979h2.22s.207-1.289.308-2.698H4.932V3.443c0-.275.36-.644.717-.644H7.45V0h-2.45C1.529 0 1.61 2.69 1.61 3.092z" fill="#000" fill-rule="nonzero" data-v-21fcefc8=""></path></svg>
    </span>Facebook</a>
<li><a href="https://twitter.com/LukasBlazej" rel="noopener" target="_blank"><span class="social-icon"><svg width="19" height="15" viewBox="0 0 19 15" xmlns="http://www.w3.org/2000/svg" data-v-21fcefc8=""><title data-v-21fcefc8="">Twitter</title> <path d="M18.434 1.772c-.679.3-1.407.504-2.172.595a3.797 3.797 0 0 0 1.663-2.09 7.623 7.623 0 0 1-2.403.918 3.782 3.782 0 0 0-6.444 3.448A10.736 10.736 0 0 1 1.284.69a3.753 3.753 0 0 0-.511 1.9A3.78 3.78 0 0 0 2.455 5.74a3.782 3.782 0 0 1-1.713-.475v.047A3.785 3.785 0 0 0 3.775 9.02a3.83 3.83 0 0 1-.997.133 3.63 3.63 0 0 1-.712-.07 3.783 3.783 0 0 0 3.532 2.626 7.587 7.587 0 0 1-4.696 1.616c-.305 0-.606-.018-.902-.052a10.689 10.689 0 0 0 5.796 1.701c6.957 0 10.759-5.761 10.759-10.758l-.013-.49a7.551 7.551 0 0 0 1.892-1.953z" fill="#000" fill-rule="nonzero" data-v-21fcefc8=""></path></svg>
    </span>Twitter</a>
</ul>
