<div class="detail-img">
  <img src="/static/img/kandidati/big/Dankova.jpg"/>
</div>
<h1 class="main-header">
Magdalena Daňková
</h1>

<p>Magdalena Daňková je učitelka na základní škole. Zároveň působí jako plzeňská zastupitelka a&nbsp;bývalá místopředsedkyně místního sdružení Pirátů v&nbsp;Plzni. Vystudovala matematiku a&nbsp;chemii na Západočeské univerzitě. V&nbsp;Evropském parlamentu by se ráda věnovala oblasti kultury a&nbsp;školství, kde se chce soustředit na jazykovou vybavenost studentů a&nbsp;učitelů a&nbsp;podpořit jejich zahraniční výměny. </p>
