<h1 class="main-header">
    Marcel Kolaja
</h1>

<div class="detail-img big2">
  <img src="/static/img/kandidati/big2/Kolaja.jpg"/>
</div>
<!--
expert na technologie Open Source a&nbsp;bojovník za svobodný internet
spoluzaložil a&nbsp;koordinuje spolek Otevřená města
bývalý místopředseda České pirátské strany
-->

<p> Marcel Kolaja je členem České pirátské strany od roku 2010. V&nbsp;roce 2014 kandidoval do Evropského parlamentu na druhém místě kandidátky. V&nbsp;minulosti působil například jako spolupředseda mezinárodní organizace Pirate Parties International nebo místopředseda Pirátské strany. Marcel vystudoval informatiku na Fakultě informatiky Masarykovy univerzity v&nbsp;Brně.</p>

<p>Pracuje jako technický produktový manažer v&nbsp;softwarové firmě, specializuje se na svobodný software (Open Source). Podílel se na založení spolku Otevřená města, který podporuje radnice v&nbsp;transparentním hospodaření a&nbsp;vstřícnosti k&nbsp;občanům, například vývojem rozklikávacího rozpočtu a&nbsp;jeho bezplatným poskytováním obcím. Inicioval též projekt Hrajeme svobodnou hudbu!, který chrání provozovatele podniků před šikanou kolektivních správců OSA a&nbsp;Intergram. V&nbsp;uplynulých čtyřech letech se angažoval v&nbsp;komunální politice jako člen komise informatiky Rady města Brna. </p>

<p>Marcel Kolaja se zabývá problematikou autorského práva na jednotném digitálním trhu. V&nbsp;Evropském parlamentu se chce zaměřit na to, aby občanům nebyly odepírány jejich svobody, a&nbsp;pokračovat ve snažení německé pirátské europoslankyně Julie Reda o&nbsp;zachování internetu bez cenzury.</p>

<p>Dále se chce věnovat inovacím a&nbsp;investicím do digitálních technologií, které jsou podle něho nutné pro zvýšení kybernetické bezpečnosti a&nbsp;aby Evropa nezaostávala za vzestupujícím vlivem čínské velmoci. 
Kromě politických aktivit je Marcel také nadšeným sportovcem – účastní se běžeckých závodů a&nbsp;rád jezdí na kole či na motorce.
</p>

<h3>Sleduj kandidáta online ...</h3>

<ul class="social-networks row">
<li><a href="https://www.facebook.com/PiratKolaja/" rel="noopener" target="_blank"><span class="social-icon"><svg width="8" height="16" viewBox="0 0 8 16" xmlns="http://www.w3.org/2000/svg" data-v-21fcefc8=""><title data-v-21fcefc8="">Facebook</title> <path d="M1.61 3.092v2.199H0v2.688h1.61v7.988h3.31V7.979h2.22s.207-1.289.308-2.698H4.932V3.443c0-.275.36-.644.717-.644H7.45V0h-2.45C1.529 0 1.61 2.69 1.61 3.092z" fill="#000" fill-rule="nonzero" data-v-21fcefc8=""></path></svg>
    </span>Facebook</a>
<li><a href="https://twitter.com/PiratKolaja" rel="noopener" target="_blank"><span class="social-icon"><svg width="19" height="15" viewBox="0 0 19 15" xmlns="http://www.w3.org/2000/svg" data-v-21fcefc8=""><title data-v-21fcefc8="">Twitter</title> <path d="M18.434 1.772c-.679.3-1.407.504-2.172.595a3.797 3.797 0 0 0 1.663-2.09 7.623 7.623 0 0 1-2.403.918 3.782 3.782 0 0 0-6.444 3.448A10.736 10.736 0 0 1 1.284.69a3.753 3.753 0 0 0-.511 1.9A3.78 3.78 0 0 0 2.455 5.74a3.782 3.782 0 0 1-1.713-.475v.047A3.785 3.785 0 0 0 3.775 9.02a3.83 3.83 0 0 1-.997.133 3.63 3.63 0 0 1-.712-.07 3.783 3.783 0 0 0 3.532 2.626 7.587 7.587 0 0 1-4.696 1.616c-.305 0-.606-.018-.902-.052a10.689 10.689 0 0 0 5.796 1.701c6.957 0 10.759-5.761 10.759-10.758l-.013-.49a7.551 7.551 0 0 0 1.892-1.953z" fill="#000" fill-rule="nonzero" data-v-21fcefc8=""></path></svg>
    </span>Twitter</a>
</ul>
