<div class="detail-img">
  <img src="/static/img/kandidati/big/10_Necada.jpg"/>
</div>
<h1 class="main-header">
Marek Nečada
</h1>

<p>Marek Nečada vystudoval teoretickou fyziku na Matematicko-fyzikální fakultě Univerzity Karlovy a&nbsp;v současné době pracuje jako doktorand na Aalto-yliopisto ve Finsku. V&nbsp;ČR spolu­založil a&nbsp;vedl fyzikální korespondenční seminář VÝFUK pro nadané žáky ZŠ a&nbsp;působil v&nbsp;Akademickém senátu UK.</p>

<p>Je autor pirátského programového okruhu pro vzdělávání, kulturu a&nbsp;vědu pro volby do Evropského parlamentu. Zajímá se o&nbsp;otázky spojené s&nbsp;klimatickými změnami, o&nbsp;vymahatelnost pravidel vůči nadnárodním firmám a&nbsp;o&nbsp;boj proti omezování svobod občanů.</p>

