<div class="detail-img">
  <img src="/static/img/kandidati/big/Sandor.jpg"/>
</div>
<h1 class="main-header">
Matej Šandor
</h1>


<p>Matej Šandor je pirátský radní Prahy 4. Zkušenosti sbíral při obchodních vyjednáváních pro státní společnosti, kdy měl v&nbsp;rozličných manažerských pozicích na starosti oblasti například nákupu, správy majetku nebo veřejných zakázek. Rovněž vyučoval na Fakultě mezinárodních vztahů VŠE a&nbsp;přednášel v&nbsp;ČR i&nbsp;v zahraničí. Vystudoval Právnickou fakultu, Evropská studia na MUNI a&nbsp;Mezinárodní hospodářské právo na VŠE. Pochází ze Slovenska, ale trvale žije i&nbsp;s manželkou v&nbsp;Praze. Jeho cílem jako europoslance je pomoci zlepšit vnímání EU v&nbsp;ČR a&nbsp;posílit pozici Pirátů ve všech zemích EU.</p>
