<div class="detail-img">
  <img src="/static/img/kandidati/big/Polak.jpg"/>
</div>
<h1 class="main-header">
Michael Polák
</h1>


<p>Michael Polák, známý také pod internetovou přezdívkou xChaos, je autorem proslulé internetové aplikace Arachne. Po své programátorské kariéře se zaměřil na oblast telekomunikací – provozuje optické a&nbsp;bezdrátové sousedské sítě. V&nbsp;Evropském parlamentu se chce vyjadřovat k&nbsp;otázkám norem dotýkajících se soukromí, copyrightu v&nbsp;digitálním světě, shromažďování informací o&nbsp;občanech či kybernetické bezpečnosti. Michael Polák je zakládajícím členem České pirátské strany.</p>

