<div class="detail-img">
  <img src="/static/img/kandidati/big/Salomoun.jpg"/>
</div>
<h1 class="main-header">
  Michal Šalomoun
</h1>

<p>Michal Šalomoun je advokát, který se zaměřuje na autorské právo a&nbsp;soudní spory o&nbsp;autorské poplatky s&nbsp;kolektivními správci (např. OSA). Narodil se v&nbsp;Třebíči, vystudoval dramaturgii a&nbsp;scénáristiku na JAMU, následně i&nbsp;práva. Pirátskou stranu obhajoval v&nbsp;trestním řízení, které se týkalo provozování internetové stránky, která obsahovala odkazy na kopie filmů. Je také autorem projektu copymarket.cz, který umožňuje získat licenci k&nbsp;užití hudby na cokoliv. V&nbsp;europarlamentu chce otevřít diskusi o&nbsp;autorském právu a&nbsp;jeho skutečné reformě, která bude reflektovat reálný technologický pokrok. </p>
