<div class="detail-img">
  <img src="/static/img/kandidati/big/Gill.jpg"/>
</div>
<h1 class="main-header">
 Michal Gill
</h1>

<p>
Michal Gill se živí jako překladatel do anglického jazyka a&nbsp;jako mediální poradce kanceláře Primátora na pražském Magistrátu. Zároveň působí v&nbsp;předsednictvu Pirate Parties International. Pochází z&nbsp;Karviné, momentálně žije v&nbsp;Praze. Vystudoval obor Historie v&nbsp;Ostravě. Je vášnivým účastníkem demonstrací proti zlu všeho druhu. Ve volném čase působí jako rozhodčí volejbalu. V&nbsp;EP by se chtěl věnovat tématům jako jsou nevýhodné transatlantické smlouvy nebo legislativě týkající se copyrightu. 
</p>
