<div class="detail-img">
  <img src="/static/img/kandidati/big/Vlach.jpg"/>
</div>
<h1 class="main-header">
Miloš Vlach
</h1>

<p>Miloš Vlach je podnikatel a&nbsp;specialista na uživatelskou přívětivost (UX). Působí i&nbsp;jako pirátský zastupitel na Praze 6&nbsp;a je členem IT výboru pražského magistrátu. Vystudoval VUT v&nbsp;Brně. Spoluzakládal pobočku Evropské studentské organizace a&nbsp;působil jako koordinátor pro střední Evropu. Vzhledem ke svým zkušenostem by se v&nbsp;případě zvolení do Evropského parlamentu věnoval otázkám kultury, digitalizace a&nbsp;zemědělství, které je také jeho koníčkem.</p>

