<div class="detail-img">
  <img src="/static/img/kandidati/big/Nina.jpg"/>
</div>
<h1 class="main-header">
Nina Špitálníková
</h1>

<p>

Nina Špitálníková je koreanistka, produkční a aktivistka za ženská práva. Absolvovala obor koreanistika na Univerzitě Karlově. V rámci studií strávila semestr na Sungkyunkwan University v jihokorejském Soulu a rovněž se zúčastnila studijních pobytů na Univerzitě Kim Il-songa v Pchjongjangu. O svých zkušeností z pobytů v KLDR napsala několik knih. V Evropském parlamentu by se ráda zabývala otázkami spojenými s kulturou, vzděláváním a gender nerovností. 
</p>
