<div class="detail-img">
  <img src="/static/img/kandidati/big/Tauer.jpg"/>
</div>
<h1 class="main-header">
Pavel Tauer
</h1>


<p>Pavel Tauer je majitelem společnosti zaměřené na informační technologie. Kromě toho je členem Pirátské strany a&nbsp;zastupitelem městské části Praha 7. Zabývá se i&nbsp;fotovoltaickými technologiemi ostrovních systémů. Mluví plynně anglicky, německy a&nbsp;částečně rusky. Jeho prioritní témata pro práci v&nbsp;Evropském parlamentu jsou internet, daně a&nbsp;ekologie.</p>
