<div class="detail-img">
  <img src="/static/img/kandidati/big/Jirman.jpg"/>
</div>
<h1 class="main-header">
Petr Jirman
</h1>


<p>Petr Jirman je již přes 13 let zaměstnancem Evropské komise v&nbsp;Bruselu, aktuálně působí jako poradce pro Ministerstvo financí ČR. Dříve působil v&nbsp;rámci Evropské komise na pozici hlavního auditora pro strukturální fondy v&nbsp;ČR. V&nbsp;EP chce pokračovat v&nbsp;řešení problému zneužívání finančních prostředků EU a&nbsp;pomoci tak chránit finanční zájmy českých i&nbsp;evropských daňových poplatníků.</p>
