<div class="detail-img">
  <img src="/static/img/kandidati/big/Barczi.jpg"/>
</div>
<h1 class="main-header">
Šimon Barczi
</h1>

<p>Šimon Barczi je konzultant v&nbsp;oborech e-commerce a&nbsp;digitální ekonomika. V&nbsp;minulosti spoluzaložil pražskou pobočku mobilitního startupu Taxify. Pochází z&nbsp;Mariánských Lázní. Vystudoval Ekonomii životního prostředí na VŠE. Strávil téměř pět let na studijních a&nbsp;pracovních pobytech v&nbsp;zahraničí, mimo jiné prací pro Evropskou komisi v&nbsp;Bruselu a&nbsp;Lucemburku. Aktivně se zajímá o&nbsp;témata rozvoje regionů, svobody internetu a&nbsp;udržitelného rozvoje a&nbsp;těmto tématům se chce věnovat i&nbsp;v Evropském parlamentu. </p>


