{% extends 'pirati_cz.html' %}
{% load static %}

{%block headstyle%}
<style>
  .intro-img-quick { display: fle; flex-wrap: wrap; }
  .intro-img-quick > img { flex: 1 1 50%; }
  .intro-img-quick > img:first { flex: 1 1 100%; }

  .program-blok .header {
      font-weight: 300; font-size: 2em;
      margin:1em 0em 0.3em 0;
      font-family: "Bebas Neue";
      text-transform: uppercase;
  }

  .program-blok .topic { font-weight: bold; }
  .program-blok ol { margin-left: 2em; }

  h3 {font-weight:bold; }

</style>
{%endblock%}
{%block body%}

<div class="row">
  <div class="medium-12 large-10 large-push-1 columns">
    <section class="o-section o-section--spaceBot">
      <div class="o-section-inner">
        <div class="o-section-block" data-equalizer data-equalize-on="medium">
        <h1 class="main-header">Ako <span class="pbw"><span class="pbw pb">voli</span>ť</span> v ČR?
        </h1>

        <div style="text-align: center">
        Si  cudzincom z EU s <b>trvalým alebo prechodným pobytom</b> na území Českej republiky? Aj ty <b>môžeš voliť</b> vo voľbách do Európskeho parlamentu v Českej republike.
        </div>

<div class='program-blok'>

<br/>
<p><b>Zaregistruj sa k voľbám najneskôr do 14. 4. 2019.*</b></p>
 
<p>O zápis do zoznamu voličov pre voľby do Európskeho parlamentu môžeš <b>požiadať na obecnom úrade</b> obce, kde si prihlásený k trvalému alebo prechodnému pobytu. Ako súčasť žiadosti je nutné poskytnúť identifikačný preukaz, doklad o trvalom alebo prechodnom pobyte a vyplniť príslušné čestné prehlásenie.</p>
 
<p>Zápis do zoznamu voličov nie je potrebný, pokiaľ si už v minulosti hlasoval v ČR vo voľbách do Európskeho parlamentu.</p>
 
<p>Pokiaľ si ale v  minulosti v ČR hlasoval iba  v komunálnych voľbách, musíš aj ty požiadať o prenesenie údajov do zoznamu voličov pre voľby  do Európskeho parlamentu, opäť na svojom obecnom úrade.</p>
 
<p>Informácia o tom, kde je tvoja volebná miestnosť ti bude oznámená počas registrácie. Samotné voľby budú prebiehať v <b>piatok 24.5.2019 od 14:00 do 22:00</b> a <b>v sobotu 25.5.2019 od 8:00 do 14:00</b>.</p>
 
<p>* Okrem toho musíš splňovať podmienku veku 18 rokov aspoň ku dňu 25.5.2019.</p>
 
<p>Pokiaľ nemáš v ČR registrovaný trvalý alebo prechodný pobyt, tak sa volieb do Európskeho parlamentu v Českej republike zúčastniť nemôžeš.  </p>


</div>

<div class='program-blok'>
<div class="header">Zváž svoj hlas <span class="pbw pb">pre pirátsku stranu</span> !</div>
<ul>
<li>Našim cieľom je ochrana mieru a <b>slobody pohybu</b>, ktorú nám EU poskytuje. </li>
<li>Presadzujeme zjednodušovanie pravidiel pre <b>cestovanie, študovanie a zamestnanie</b> pre európskych občanov v iných členských krajinách. </li>
<li>Podporujeme ďalšiu <b>harmonizáciu systémov sociálneho a zdravotného poistenia</b> medzi členskými štátmi s cieľom zníženia byrokracie a diskriminácie pri vyhľadávaní zdravotnej starostlivosti. </li>
<li>Zasadzujeme sa o presadzovanie <b>rovných príležitostí</b> v pracovnom živote bez diskriminácie založenej na národnosti, jazyku alebo podľa pohlavia.</li>
</ul>

<br/>
<p>
<span style="font-size: 1.5em; ">
Prečítajte si viac o našom programe <a href="/program/" class="pbw pb">tu</a>.</span>
</p>

</div>

        </div>
        <br/><br/>
        <br/><br/>
      </div>
    </section>
  </div>
</div>

{%endblock%}
