{% extends 'pirati_cz.html' %}
{% load static %}

{%block headstyle%}
<style>
  .intro-img-quick { display: fle; flex-wrap: wrap; }
  .intro-img-quick > img { flex: 1 1 50%; }
  .intro-img-quick > img:first { flex: 1 1 100%; }

  .program-blok .header {
      font-weight: 300; font-size: 2em;
      margin:1em 0em 0.3em 0;
      font-family: "Bebas Neue";
      text-transform: uppercase;
  }

  .program-blok .topic { font-weight: bold; }
  .program-blok ol { margin-left: 2em; }

</style>
{%endblock%}
{%block body%}

<div class="row">
  <div class="medium-12 large-10 large-push-1 columns">
    <section class="o-section o-section--spaceBot">
      <div class="o-section-inner">
        <div class="o-section-block" data-equalizer data-equalize-on="medium">
        <h1 class="main-header"><span class="pbw pb">20 Priorities</span> for the European Parliament
        </h1>

        <div style="text-align: center">
        We have determined the 20 most important issues on which we want to focus at the European Union level.
        </div>


<div class='program-blok'>
<div class="header">Europe needs <span class="pbw pb">FREEDOM</span></div>
<ol>
<li><span class="topic">Preserving the freedom of movement within the EU:</span> We will defend the single European market of goods and services, as well as the possibility to seamlessly travel and work abroad.</li>
<li><span class="topic">Protecting Europe from both external and internal threats:</span> We will strengthen external borders and common defense policy. We will support investment in open-source technologies to ensure cybersecurity.</li>
<li><span class="topic">Internet without censorship:</span> We need to fundamentally reform copyright. Shifting responsibility for shared content towards providers is a step back which unfairly favors major internet companies. </li>
<li><span class="topic">We stand up to authoritarians who threaten democracy:</span> The peace in Europe has to be protected from dictators and extremists.</li>
</ol>
</div>

<div class='program-blok'>
<div class="header">Europe needs <span class="pbw pb">UPGRADE</span></div>
<ol>
<li><span class="topic">EU transparent and closer to people:</span> Everybody needs easy access to information about the work of MEPs. We will give people the opportunity to comment on proposals online.</li>
<li><span class="topic">Meaningful decision-making:</span> We will keep local decision-making from moving unnecessarily to higher levels. We do not want the EU to drown in bureaucracy. </li>
<li><span class="topic">Comfortable movement within Europe:</span> We will support the construction of high-speed railways and other infrastructure for efficient interconnection of the Czech Republic and the European network.</li>
<li><span class="topic">Support and development of Erasmus:</span> We will support more international exchanges for teachers and high school students, which help develop their language skills and strengthen international cooperation.</li>
</ol>
</div>

<div class='program-blok'>
<div class="header">Europe needs <span class="pbw pb">PROSPERITY</span></div>
<ol>
<li><span class="topic">Companies must pay taxes where they do business:</span> We will fight against tax evasion of big corporations and stand against tax havens.</li>
<li><span class="topic">Transparent management of European finances:</span> Europe needs strict and clear rules for funding and for lobbying activities. </li>
<li><span class="topic">Reform of the common agricultural policy:</span> Subsidies for big agricultural concerns need to have a financial limit. Saved resources can be invested in the development of regions in need and rural areas.</li>
<li><span class="topic">Europe as a technological leader:</span> We will support small and middle-sized businesses and the development of modern technologies. We do not want limiting rules for patents to stand in the way of innovations.</li>
</ol>
</div>

<div class='program-blok'>
<div class="header">Europe needs <span class="pbw pb">SUSTAINABILITY</span></div>
<ol>
<li><span class="topic">We will support reasonable solutions for drought and other impacts of the climate change:</span> We will initiate the development and use of new technologies and cleaner energy sources by reducing fossil fuel dependency and by sensible energy savings.</li>
<li><span class="topic">Grow food, not fuel:</span> We support sustainable agriculture and improvement of soil quality, animal welfare and biodiversity. Subsidies should be made conditional upon a sustainable approach to land and they should support regional development, not large agro-corporations. </li>
<li><span class="topic">We want people to decide about their lives and environment:</span> We will promote a stronger citizen engagement in environment-related decision-making. We want more transparent decision-making processes and better public awareness.</li>
<li><span class="topic">A modern approach to waste:</span> The best waste is the one never created. We will support ecodesign, better durability of products, easy recycling and further utilisation of waste.</li>
</ol>
</div>

<div class='program-blok'>
<div class="header">Europe needs <span class="pbw pb">EQUALITY</span></div>
<ol>
<li><span class="topic">We are not the junkyard of Europe:</span> We deserve the same quality of food and consumer goods as the rest of Europe.</li>
<li><span class="topic">Equal access to digital services:</span> We will promote a single digital market without borders and for services such as Internet broadcasting to not be restricted by country of residence.</li>
<li><span class="topic">Equal opportunities for women and men:</span> We will focus on a healthy work-life balance and support for caregivers.</li>
<li><span class="topic">Fair work environment for everyone:</span> We are against the exploitation of cheap labor by agencies. We will promote better job opportunities by investing in lifelong learning. </li>
</ol>
</div>

<br/>
<br/>

<span style="font-size: 1.5em; ">Read <b>the common election programme</b>  of the <a href="https://european-pirateparty.eu" style="text-decoration: underline" target="_blank">European Pirate Party</a> <a href="https://wiki.ppeu.net/doku.php?id=programme%3Aceep2019" target="_blank" class="pbw pb">HERE</a>.</span>

<br/>
<br/>

<span style="font-size: 1.5em; ">Find out <b>how to vote</b> in the Czech Republic <a href="/en/how-to-vote" class="pbw pb">HERE</a>.</span>

        </div>
        <br/><br/>
        <br/><br/>
      </div>
    </section>
  </div>
</div>

{%endblock%}
